@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body {
  padding: 20px;
  margin: 0;
}

#app {
  display: flex;
  justify-content: center;
}

.centered {
  width: 1000px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 15px 15px 20px;
}

.container {
  display: flex;
  flex-direction: column;
}

.container input {
  font-size: 16px;
  padding: 10px;
  margin-bottom: 10px;
}

.btn {
  background-color: #91b953;
  border: none;
  color: white;
  padding: 12px 35px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: #49661c;
}

.clear-btn {
  margin-left: 5px;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #d8dadd;
  font-size: 18px;
  list-style-type: none;
}

.remove-item:hover {
  background-color: #91b953;
  color: white;
}

.remove-item {
  position: absolute;
  user-select: none;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}
